@model haunt_map.Models.Haunt

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Haunt</legend>

        @Html.HiddenFor(model => model.ID)

         <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Story)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Story)
            @Html.ValidationMessageFor(model => model.Story)
        </div>

        <div class="editor-field">
            @Html.HiddenFor(model => model.latitude, new { id = "lat" })
            @Html.ValidationMessageFor(model => model.latitude)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.longitude, new { id = "lng" })
            @Html.ValidationMessageFor(model => model.longitude)
        </div>

        <div id="googleMap" style="height: 400px;"></div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAe8MfxGp3mpDLGvV6PhBQXjJ62YaC46XY&v=3&amp;sensor=false"></script>
    @Scripts.Render("~/bundles/googlemaps")
    <script>
        var user_position = { lat: '@Html.DisplayFor(model => model.latitude)', lng: '@Html.DisplayFor(model => model.longitude)' }
        $(document).ready(initMap());
    </script>
}